pkgbase = scantailor-advanced-bin
	pkgdesc = Interactive post-processing tool for scanned pages that merges the features of the ScanTailor Featured and ScanTailor Enhanced versions, brings new ones and fixes.
	pkgver = v1.0.18
	pkgrel = 3
	url = https://github.com/ScanTailor-Advanced/scantailor-advanced
	arch = x86_64
	license = GPL3
	depends = boost-libs
	depends = libjpeg
	depends = libpng
	depends = libtiff
	depends = qt5-base
	depends = zlib
	provides = scantailor
	conflicts = scantailor-advanced-git
	source = scantailor-advanced-bin-v1.0.18.tar.gz::https://github.com/arch-noob/scantailor-advanced-bin/releases/download/v1.0.18/scantailor-advanced-v1.0.18.tar.gz
	sha256sums = SKIP

pkgname = scantailor-advanced-bin
